[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
screeninfo = "*"
lxml = "*"
pywin32 = "==225"
xmltodict = "*"
wmi = "*"

[dev-packages]

[requires]
python_version = "3.9"
