<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <app name="Terminal">
        <cmd>wt</cmd>
        <wintitle>Ubuntu</wintitle>
        <monitor_id>1</monitor_id>
        <fullscreen>true</fullscreen>
        <configurator>terminal</configurator>
        <configured>false</configured>
    </app>
    <app name="Notepad">
        <cmd>C:\Windows\notepad.exe</cmd> <!-- or just notepad -->
        <wintitle>Untitled - Notepad</wintitle>
        <monitor_id>1</monitor_id>
        <fullscreen>false</fullscreen>
        <location>
            <xmin>10</xmin>
            <ymin>20</ymin>
            <xmax>800</xmax>
            <ymax>500</ymax>
        </location>
        <configurator>notepad</configurator>
        <configured>false</configured>
    </app>
</settings>